body,html { font-family: 'Source Sans Pro', sans-serif; background: #fafafa; margin: 0; padding: 0; }
h1 { font-size: 30px; font-weight: 700; }

.wrapper { width: 80%; height: auto; padding: 10%; text-align: center; color:#2e2c28; }
